body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // flex-direction: column;
    background-color: yellow;
    
}
.formMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    height: 3vh;
    width: 33vw;
    margin-right: 1vw;
}
.textedit{
    height: 3vh;
    width: 29vw;
    margin-right: 1vw;
}





.add{
    width: 30%;
    height: 4vh;
    font-size: 1.5rem;
    color: blue;
    text-align: center;
    
}
.cancel{
    width: 20%;
    height: 3.5vh;
    text-align: center;
    font-size: 1.5rem;
    color: blue;
}
.Icon{
    color: red;
    font-size: 2rem;
    height: 4vh;
    width: auto;
    float: right;
    margin-top: 2vh;

}
.IconEdit{
    color: blue;
    font-size: 2rem;
    height: 4vh;
    width: auto;
    float: right;
    margin-top: 2vh;
}
li{
    font-size: 3rem;
    width: auto;
}
.h1Father{
    display: flex;
    justify-content: center;
    align-items: center;

}

input{
    position: relative;
    top: -0.5vh;
}
button{
    margin-left: 1vh;
}
.footer{
display: flex;
justify-content: center;
align-items: flex-end;
position: relative;
top: 55vh;
}
