body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(65, 127, 59);
    width: 98vw;
.formMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;

}
.text{
    height: 3vh;
    width: 33vw;
    margin-right: 1vw;
}
.textedit{
    height: 3vh;
    width: 29vw;
    margin-right: 1vw;
}

.add{
    width: 30%;
    height: 4vh;
    font-size: 1.5rem;
    color: blue;
    text-align: center;
    
}
.cancel{
    width: 20%;
    height: 3.5vh;
    text-align: center;
    font-size: 1.5rem;
    color: blue;
}
.Icon{
    color: red;
    font-size: 2rem;
    height: 5vh;
    width: auto;
    float: right;
    margin-top: 2vh;

}
.IconEdit{
    color: blue;
    font-size: 2rem;
    height: 5vh;
    width: auto;
}


li{
    font-size: 3rem;
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    flex-direction: row;
}
.todoFather{
    max-width: 50vw;
    height: auto;
    word-break: break-word;

}
.editDeleteFather{
    width: 20vw;
    justify-content: flex-end;
    flex-direction: row;
}


.h1Father{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
display: flex;
justify-content: center;
align-items: flex-end;
position: relative;
top: 55vh;
}
}